@media only screen and (max-width: 800px) {

  h1 {
    font-size: 100px;
  }
  
  h2 {
    font-size: 50px;
    letter-spacing: 0.07em;
  }
  
  h3 {
    font-size: 36px;
    letter-spacing: 0.05em;
  }
  
  h4 {
    font-size: 20px;
    letter-spacing: 0.05em;
  }

  html, body {
    padding: 0 20px !important;
  }

  #hero {

    #hero-text {
      width: 100%;
      text-align: center;

      h3 {
        padding: 0 !important;
      }
    }

    a#githubLogo {
        width: 60px;
        position: absolute;
        top: 50px;
        left: calc(100vw - 100px);

        img {
          width: 100%;
          height: 100%;
        }
    }

    a#resume {
      margin-left: auto;
      margin-right: auto;
    }
  }

  section#aboutMe {
    width: 100% !important;
    margin-bottom: 50px !important;

    div.text {
        width: 100% !important;
    }
    
    img {
      width: 100% !important;
      min-width: 0 !important;
      margin-top: 25px !important;

    }
  }

  section#projects {

    .item {
        margin-top: 50px !important;
        width: 100% !important;
        min-width: 0px !important;

        .text {
            h2 {
              text-align: center;
              font-size: 40px;
              margin: auto;
            }
            
            .links {
                margin: auto;
                img {
                    width: 30px !important;
                    margin-top: 10px !important;
                }
            }
        }
    }
}

}