main {
  width: 80%;
  margin: 0px auto;

  h2 {
    font-size: $headSize;
  }

  #who {
    margin: $sectionSpacing 0;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: space-evenly;


    #text {
      display: flex;
      flex-flow: column nowrap;
      align-items: start;

      h3 {
        margin: 30px 0;
      }
  
      p {
        margin: 0;
        max-width: 30em;
        font-size: $parSize;
        line-height: $parHeight;
        margin-left: 2em;
      }
    }

    img {
      max-width: 550px;
      margin-top: 2em;
    }

  }

  section#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-items: center;
    margin: $sectionSpacing auto;


    h3 {
      margin-left: 30px;
      margin-bottom: 0;
    }

    ul {
      list-style-type: none;

      li {
        font-size: $parSize;
        line-height: $parHeight;
        margin-left: 20px;
      }
    }
  }

}