main {
    margin: auto;
    margin-top: 150px;
}

section#aboutMe {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;

    div.text {
        margin: auto;
        width: 50%;

        h4 {
            margin-top: 20px;
        }
    }
    
    img {
        margin: auto;
        min-width: 500px;
        width: 50%;

    }
}

section#projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


    .item {
        margin: auto;
        width: 50%;
        min-width: 500px;

        img {
            width: 100%;
            height: auto;
        }

        #text {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            #links {
                margin: auto;
                img {
                    width: 45px;
                    margin: 0px 25px;
                }
            }
        }
    }

    #jobApp {
        .notAvailable {
            filter: opacity(.5);
        }
    }
}