#hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    height: calc(100vh - 100px);
    width: calc(100vw - 100px);

    margin: auto;
    padding-top: 50px;

    img#logo {
        width: 60px;
    }

    #hero-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        #hero-text {
            h3 {
                margin: 0;
                padding: 10px 0px 0px 10px;
            }
        }

        img#githubLogo {
            width: 40px;
            height: 40px;
        }
    }

    a#resume {
        color: white;
        text-decoration: none;
        text-align: center;

        background-color: black;

        width: 298px;
        padding: 7px;

        border-radius: 5px;

        h3 {
            margin: 0;
            font-size: 25px;
        }
    }
    a:hover {
        text-decoration: underline;
    }

}