img {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 50px;
}

a {
  text-decoration: none;
  color: white !important;
  background-color: black;
  padding: 24px 86px;
  font-family: Myriad Pro;
  font-size: 36px;
  border-radius: 5px;
  width: 298px;
  text-align: center;
  position: relative;
  top: calc(100vh - 110px);
  left: 50px;
  transform: translate(20px, 20px);
}

a:hover {
  text-decoration: underline;
}

.hero-inner {

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -120px;

  h3 {
    position: relative;
    top: -40px;
    left: 5px;
  }
}