@font-face {
  font-family: "Niagara-Solid";
  src: url('../public/fonts/NIAGSOL.TTF')
}

h1 {
  font-family: Niagara-Solid;
  font-size: 170px;
  letter-spacing: 0.07em;
  line-height: .8em;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: Niagara-Solid;
  font-size: 60px;
  letter-spacing: 0.07em;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin: 0px 0px;
}

html, body {
  margin: 0;
}

@import 'hero';
@import 'content';
@import 'mobile';