@font-face {
  font-family: "Niagara-Solid";
  src: url('../public/fonts/NIAGSOL.TTF')
}

h1 {
  font-family: Niagara-Solid;
  font-size: 170px;
  letter-spacing: 0.07em;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: Niagara-Solid;
  font-size: 60px;
  letter-spacing: 0.07em;
  font-weight: normal;
}

h3 {
  font-family: Myriad Pro;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
}

@import 'hero';
@import 'content';
@import 'mobile';