html {
    height: 100%;
}

.no-gutters {
    margin-right: -15px;
    margin-left: -15px;
}

* {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: linear-gradient(to bottom right, #9cabe2, #3155d6);
}

.landing {
    color: white;
    padding-top: calc(100vh/3);
    height: 100vh;

    .name {
        position: relative;
        top: 10px
    }

    .header {
        display: inline;
    }

    .computer {
        height: auto;
        position: relative;
        left: 15px;
    }
}

.portfolio {
    background-color: white;
    color: #3155d6;
    padding: 30px 0px;

    .appsys {
        img {
            width: 28px !important;
        }
    }

    .project {
        color: black;
        margin-top: 30px;

        img {
            margin-bottom: 10px;
            height: auto;
        }

        p {
            margin-top: 20px;
            color: #5b5b5b;
            font-family: 'Source Serif Pro', serif;
        }

        .buttons {
            font-family: 'Source Sans Pro', sans-serif !important;
            margin-top: 50px;
            .live {
                background-color: #3155d6;
                padding: 10px 0px;
                a {
                    color: white;
                }
            }
            .source {
                padding: 10px 0px;
                background-color: #d1daff;
                a {
                    color: #3155d6;
                }
            }
        }
    }
}

.bio {
    color: white;
    padding: 30px 0px;

    p {
        font-family: 'Source Serif Pro', serif;
    }
    img {
        height: auto;
    }
}

@media only screen and (min-width: 701px) {

    .hammen {
        display: none;
    }

    .landing {

        .name {
            font-size: 30px;
            left: -200px;
            font-weight: 1;
        }

        .header {
            font-size: 90px;
            font-weight: 10;
        }
        
        .computer {
            width: 80px;
            top: -25px;
        }
    }

    .portfolio {

        .project {

            img {
                width: 20px;
            }

            p {
                font-size: 17px;
            }
        }
    }

    .bio {
        p {
            padding: 20px 0px;
        }
        img {
            width: 200px;
        }
    }
}

@media only screen and (max-width: 700px) {
    
    .hammen {
        img {
            width: 50px;
            height: auto;
            position: relative;
            top: 30px;
        }
    }

    .landing {
        
        .name {
            font-size: 20px;
            left: -120px;
        }

        .header {
            font-size: 60px;
            font-weight: 10;
        }
        
        .computer {
            width: 60px;
            top: -15px;
        }
    }

    .portfolio {

        .project {

            img {
                width: 20px;
            }

            p {
                font-size: 17px;
            }
        }
    }

    .bio {

        p {
            margin-top: 20px;
        }

        img {
            width: 300px;
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .portfolio {
        padding: 100px 0px;
        h1 {
            font-size: 50px;
        }
        .project {

            h3 {
                font-size: 35px;
            }
            p {
                padding: 0px 20px;
                font-size: 20px;
            }
        }
    }

    .bio {
        padding: 100px 0px;

        h1 {
            font-size: 50px;
        }
        img {
            width: 300px;
        }
        
        p {
            padding-top: 40px;
            font-size: 20px;
        }
    }

}