.no-gutters {
    margin-right: -15px;
    margin-left: -15px;
}

* {
    margin: 0px;
    padding: 0px;
}

.background {
    background-image: linear-gradient(to bottom right, #9cabe2, #3155d6);
}

html {
    height: 100%;
}

.landing {
    color: white;
}

@media only screen and (max-width: 700px) {
    .landing {
        padding-top: calc(100vh/3);
        height: 100vh;
        
        .name {
            font-size: 20px;
            position: relative;
            left: -120px;
            top: 10px;
        }

        .header {
            font-size: 60px;
            display: inline;
            font-weight: 10;
        }
        
        .computer {
            width: 60px;
            height: auto;
            position: relative;
            top: -15px;
            left: 15px;
        }
    }
    .portfolio {
        background-color: white;
        color: #3155d6;
        padding: 30px 0px;

        .project {
            color: black;
            margin-top: 30px;

            img {
                margin-bottom: 10px;
                width: 20px;
                height: auto;
            }

            p {
                margin-top: 20px;
                color: #5b5b5b;
                font-family: 'Source Serif Pro', serif;
                font-size: 17px;
            }
        }
    }
    .bio {
        color: white;
        padding: 30px 0px;

        p {
            margin-top: 20px;
            font-family: 'Source Serif Pro', serif;
        }

        img {
            width: 300px;
            height: auto;
            margin-top: 20px;
        }
    }
}
